// Colors
$white: #ffffff;
$teal: #42B4B7;
$teal-dark: #1C9295;
$bg: #D7DEF7;
$bg-light: #F5F8FF;
$primary-light: $white;
$primary: $teal;
$primary-dark: $teal-dark;
$light: $bg-light;
$gray-light: #efefef;
$gray: #aaa;
$save: #ec5766;
$circle-color: #42B4B7;
$header-color: #333333;
$font-color: #444444;


// Sizes
$nav-size: 20vw;

:export {
  primary-light: #{$primary-light};
  primary: #{$primary};
  primary-dark: #{$primary-dark};
}
