@import "./constants";

* {
  transition: all 0.15s ease;
}

body,
html {
  margin: 0;
}

h1,
h2,
h3,
h4,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

.primaryText {
  color: $primary !important;
}

.grow {
  flex-grow: 1;
}

.primary-dark,
.primary-dark a {
  color: $primary-dark !important;
}

.pageWithNav {
  width: (100vw - $nav-size);
  margin-left: $nav-size;
  display: flex;
  flex-direction: column;
}

.closeButton {
  float: right;
}

.headerWithNav {
  width: (100vw - $nav-size) !important;
  margin-left: $nav-size;
  background-color: #fefefe !important;
  box-shadow: 0px 0px 0px #aaa !important;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
}

// LOADING
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    color: $primary;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

// NAV BAR
.nav {
  background: $primary;
  width: $nav-size;
  height: 100vh;
  position: fixed;

  h3 {
    color: $light;
    font-size: 30px;
    padding: 5vw;
    text-align: center;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    display: block;
    margin: 30px 10px;
    padding: 10px 15px;
    border-left: 7px solid transparent;
  }

  a:hover {
    border-left: 7px solid #fff;
    padding: 10px 25px;
  }

  .primary-dark a:hover {
    border-left: 7px solid transparent;
    padding: 10px 15px;
  }

  li:not(:first-child) {
    margin-left: 2.5vw;
  }
}

.dashboard {
  h1 {
    color: $primary;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  h3 {
    color: $primary;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h4 {
    margin-top: 10px;
  }
}

.emps {
  margin-top: 5%;

  h1 {
    color: $primary;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  table thead tr {
    background: #ddd;
  }

  table tbody tr {
    cursor: pointer;
    background-color: #f4f4f4;

    &:hover {
      background-color: $primary-light;
    }
  }
}

.container {
  width: 80%;
  margin: 0 auto 50px auto;
}

.addEmp {
  margin-top: 5%;

  h1 {
    color: $primary;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  h3 {
    color: $primary;
    font-size: 25px;
    padding: 1.5vw;
    text-align: center;
  }

  h4 {
    color: $primary;
    font-size: 20px;
    text-align: left;
    margin-top: 25px;
  }

  .container > p {
    text-align: center;
  }


  .MuiStepIcon-root.MuiStepIcon-completed,
  .MuiStepIcon-root.MuiStepIcon-active {
    color: $primary;
  }

  .allButtons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
  }

  .MuiInput-underline:after {
    border-color: $primary !important;
  }

  .button {
    width: 150px;
    line-height: 30px;
    border: 2px solid #ccc;
  }

  button.nxt {
    margin-top: 3px;
    margin-left: 1px;
    border: 2px solid $primary;
    background: transparent;
    color: $primary;
  }

  button a {
    text-decoration: none;
    color: $primary;
  }

  button a:hover {
    color: $white
  }

  button.nxt:hover {
    background: $primary;
    color: $white;
  }

  button.bck {
    border: 2px solid #ccc;
    background: $gray-light;
    color: black;
  }

  button.bck:hover {
    background: $gray;
  }
  

  .benefits {
    .bencard {

      .bencardhead {
        padding-left: 20px;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      h1 {
        text-align: left;
        color: black;
        font-weight: bold;
      }

      h2 {
        text-align: left;
        color: $gray;
        font-size: 18px;
      }

      .bencardcontent {
        padding-bottom: 20px;
      }

      h3 {
        text-align: left;
        color: black;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }

      h4 {
        text-align: left;
        color: black;
        font-size: 15px;
        margin: 0;
        padding: 0;
        padding-top: 20px;
      }

      .bencardend {
        padding-top: 18px;
      }

      a {
        color: $gray;
        text-decoration: underline;
        font-size: 15px;
      }

      a:hover {
        color: black;
        text-decoration: underline;
      }

      .bencardcustom {
        margin-top: 20px;
        background-color: $gray-light;
        height: 186px;
        border-radius: 15px;

        p {
          text-align: center;
          font-size: 20px;
          font-weight: normal;
          padding-top: 75px;
          color: black;
        }
      }

      .bencardcustom:hover {
        background-color: $primary-light;
      }

    }
  }

  .review {
    .MuiCard-root {
      padding: 20px;
    }

    .button {
      width: 250px;
      line-height: 30px;
      border: 2px solid #ccc;
    }

    .MuiButton-containedPrimary {
      width: 150px;
      background: $primary;
      color: #fff;
    }
  }

  .MuiButton-containedPrimary:hover {
    background: $primary;
    color: #fff;
  }

  .MuiButton-containedPrimary {
    background: transparent;
    color: $primary;
    width: 250px;
    border: 2px solid $primary;
  }
}

.userProfile,
.emps {
  .MuiTable-root {
    width: 80%;
  }

  table {
    margin: 0 10% 5% 10%;

    tr {
      margin: 25px 0;
      background: #f4f4f4;
      border-radius: 10px;
      border: 10px solid #fff;

      td {
        border: none;
        flex-grow: 1;
      }
    }
  }
}

.userProfile {
  img {
    width: 15vw;
    border-radius: 100%;
    margin: 20px;
  }

  & > div {
    margin: 5% 5% 3% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    h1 {
      padding-left: 14px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      align-items: center;

      li {
        width: auto;
      }
    }
  }
}

.SignUp,
.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button,
  input[type="submit"] {
    background: none;
    border: none;
    outline: none;
    padding: 13px 45px;
    background: transparent;
    border: 2px solid $primary;
    border-radius: 50px;
    color: $primary;
    font-size: 18px;
    margin: 15px;
    cursor: pointer;
    font-weight: 500;
    width: 90%;
    transition: all 0.5s ease;
  }

  button:hover,
  input[type="submit"]:hover {
    background: $primary;
    color: white;
  }
}

.empty-btn {
  color: $primary !important;
  border: 0px !important;
  position: relative;
  top: 0px;

  &:hover {
    background-color: transparent !important;
    color: $primary-dark !important;
    top: 5px;
  }
}

.formContainer {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;

  .MuiFormControl-root {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .MuiTextField-root {
      width: 100%;
    }
  }
}

.link-forgot {
  cursor: pointer;
  color: #1098f7;
}
